.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
}

input:focus {
  border: 1px solid #beeef7;
}