.container {
  display: flex;
  border: 1px solid #dddddd;
  border-radius: 2px;
  background-color: #f5f5f5;
  padding: 15px;
  margin-bottom: 10px;
}

.imageContainerLeft {
  display: flex;
  align-items: center;
}

.medIcon {
  padding-right: 15px;
}

.name {
  background: none;
  border: none;
}

.name:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #2a6496;
}

.name:focus {
  outline: none;
  text-decoration: underline;
  color: #2a6496;
}

.descriptionContainerRight {
  font-size: 1rem;
}

@media(min-width: 415px) {
  .descriptionContainerRight {
    display: flex;
    width: stretch;
    justify-content: space-between;
  }
}

.farRightContainer {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
}

.price {
  padding-right: 15px;
  color: #4d4b4b;
}

.generics {
  background: none;
  border: none;
  color: #3a87ad;
}

.generics:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #2a6496;
}

.generics:focus {
  outline: none;
}
