.form {
  margin-bottom: 30px;
}

input {
  display: block;
  width: stretch;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
}

input:focus {
  border: 1px solid #beeef7;
}